# Career Stats Collections

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os
from tqdm.notebook import tqdm

The history saving thread hit an unexpected error (DatabaseError('database disk image is malformed')).History will not be written to the database.

In [2]:
def getSeasonStats(S):
    # S=25
    rushDF = pd.concat([pd.read_csv('Boxscores/S%s/%s/rushStats.csv'%(S,p)) for p in next(os.walk('Boxscores/S%s/'%S))[1] if p[0] != '.'])
    recDF = pd.concat([pd.read_csv('Boxscores/S%s/%s/recStats.csv'%(S,p)) for p in next(os.walk('Boxscores/S%s/'%S))[1] if p[0] != '.'])
    specDF = pd.concat([pd.read_csv('Boxscores/S%s/%s/specStats.csv'%(S,p)) for p in next(os.walk('Boxscores/S%s/'%S))[1] if p[0] != '.'])
    puntDF = pd.concat([pd.read_csv('Boxscores/S%s/%s/puntStats.csv'%(S,p)) for p in next(os.walk('Boxscores/S%s/'%S))[1] if p[0] != '.'])

    kickDF = pd.concat([pd.read_csv('Boxscores/S%s/%s/kickStats.csv'%(S,p)) for p in next(os.walk('Boxscores/S%s/'%S))[1] if p[0] != '.'])
#     kickList = ['FG < 20','20-29','30-39','40-49','50+']
#     for k in kickList:
#         kickDF['%sM'%k] = [int(x.strip('[]').split(',')[0]) for x in kickDF[k]]
#         kickDF['%sA'%k] = [int(x.strip('[]').split(',')[1]) for x in kickDF[k]]
#     kickDF = kickDF.drop(columns=kickList)

    defDF = pd.concat([pd.read_csv('Boxscores/S%s/%s/defStats.csv'%(S,p)) for p in next(os.walk('Boxscores/S%s/'%S))[1] if p[0] != '.'])
#     fumList = [int(x.strip('[]').split('/')[0]) for x in defDF['FF/FR']]
#     defDF['FF'] = fumList[0]
#     defDF['FR'] = fumList[1]
#     blkList = [int(x.strip('[]').split(',')[0]) for x in defDF['Blk P/XP/FG']]
#     defDF['Blk P'] = blkList[0]
#     defDF['Blk XP'] = blkList[1]
#     defDF['Blk FG'] = blkList[2]
#     defDF = defDF.drop(columns=['FF/FR','Blk P/XP/FG'])

    passDF = pd.concat([pd.read_csv('Boxscores/S%s/%s/passStats.csv'%(S,p)) for p in next(os.walk('Boxscores/S%s/'%S))[1] if p[0] != '.'])
#     cpatList = [int(x.strip('[]').split(',')[0]) for x in passDF['Cp/At']]
#     passDF['Cmp'] = cpatList[0]
#     passDF['Att'] = cpatList[1]
#     passDF = passDF.drop(columns=['Cp/At'])

    for df in [passDF,rushDF,recDF,specDF,puntDF,kickDF,defDF]:
        df['S'] = str(S)
        df['Team'] = df['Team'].str.replace('ARI','AZ')
        
    return [passDF,rushDF,recDF,specDF,puntDF,kickDF,defDF]

In [4]:
passList = []
rushList = []
recList = []
defList = []
specList = []
kickList = []
puntList = []

curSeason = 26
sList = range(1,curSeason+1)

sBar = tqdm(total=len(sList))
for s in sList:
    seasonList = getSeasonStats(s)
    passList.append(seasonList[0])
    rushList.append(seasonList[1])
    recList.append(seasonList[2])
    specList.append(seasonList[3])
    puntList.append(seasonList[4])
    kickList.append(seasonList[5])
    defList.append(seasonList[6])
    sBar.update(1)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=26.0), HTML(value='')))

In [7]:
passDF = pd.concat(passList)
rushDF = pd.concat(rushList)
rushDF['RushYds'] = rushDF['Yds']
rushDF = rushDF.drop('Yds',axis=1)
recDF = pd.concat(recList)
recDF['RecYds'] = recDF['Yds']
recDF = recDF.drop('Yds',axis=1)
specDF = pd.concat(specList)
puntDF = pd.concat(puntList)
kickDF = pd.concat(kickList)
defDF = pd.concat(defList)

In [13]:
passDF

,Player,Team,Yds,Avg,pass_TD,Int,Rat,Cmp,Att,W,S,Cp/At
0,"Boss, M.",OCO,212,11.2,1,0,82.1,19,35,7,1,NaN
1,"Hunt, E.",OCO,36,18.0,0,0,81.2,2,4,7,1,NaN
2,"Orosz, C.",YKW,62,8.9,0,0,51.6,7,17,7,1,NaN
0,"Orosz, C.",YKW,218,12.1,1,0,93.5,18,30,8,1,NaN
1,"Holder, P.",YKW,65,21.7,0,0,104.2,3,5,8,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1,"Kaepercolin, N.",BER,239,13.3,1,0,85.3,18,34,9,26,18/34
0,"Slothlisberger, B.",NO,233,12.9,2,0,100.1,18,32,9,26,18/32
1,"Jack, C.",YKW,260,12.4,0,0,72.9,21,40,9,26,21/40
0,"Howitzer, S.",NY,323,12.9,3,1,110.5,25,37,9,26,25/37
1,"Phoenix, B.",PHI,267,16.7,1,1,92.9,16,26,9,26,16/26

## Season Stats (League)

### TANY/A and ANY/A

In [9]:
qbrushDF = rushDF.rename({'Att':'Rush','Avg':'RushAvg'},axis=1).drop('W',axis=1)
qbPassRunDF = pd.concat([passDF,qbrushDF]).fillna(0)

qbSeason = qbPassRunDF.groupby(['S','Player']).sum().reset_index()
qbSeason.sort_values('Rush',ascending=False)
qbSeason = qbSeason[qbSeason['Att'] > 0]

In [10]:
qbSeason.columns

Index(['S', 'Player', 'Yds', 'Avg', 'pass_TD', 'Int', 'Rat', 'Cmp', 'Att', 'W',
       'Rush', 'RushAvg', 'Lg', 'rush_TD', 'RushYds'],
      dtype='object')

In [11]:
allPlays = pd.read_csv('allPBP.csv')

allPlays['play'] = allPlays['play'].str.replace(r" \(.*?\)","").str.replace(r"\(.*?\) ","")

def getSacks(player,S):
    sacksDF = allPlays[(allPlays.play.str.contains('%s SACKED'%player)) & (allPlays.S == S)]
    sackList = [int(sacksDF.iloc[b].play.split('for ')[1].split(' yds.')[0]) for b in range(len(sacksDF))]
    return sackList

def sacksDFs(player, S):
#     player = row.Name
#     S = row.S
    sackList = getSacks(player,S)
    return len(sackList), -sum(sackList)

def getFumbles(player,S):
    sacksDF = allPlays[(allPlays.play.str.contains('FUMBLE by %s'%player)) & (allPlays.S == S)]
    return len(sacksDF)

def TANYA(row):
    return (row['Yds'] + row['RushYds'] - row['Sack Yards'] + 20*(row['pass_TD'] + row['rush_TD']) - 45*row['Int'])/(row['Att']+row['Sacks'])

def ANYA(row):
    return (row['Yds'] + 20*row['pass_TD'] - 45*row['Int'])/row['Att']

def rating(row):
    a = (row['Cmp']/row['Att'] - 0.3) * 5
    b = (row['Yds']/row['Att'] - 3) * 0.25
    c = (row['pass_TD']/row['Att']) * 20
    d = 2.375 - (row['Int']/row['Att'] * 25)
    return 100/6 * (a+b+c+d)

In [12]:
sackcols = qbSeason.apply(lambda row : sacksDFs(row['Player'],int(row['S'])) , axis=1)
sacksDF = pd.DataFrame(sackcols.tolist(),columns=['Sacks', 'Sack Yards'],index=qbSeason.index)

qbSeason['Sacks'] = sacksDF['Sacks']
qbSeason['Sack Yards'] = sacksDF['Sack Yards']
qbSeason['Fumbles'] = qbSeason.apply(lambda row: getFumbles(row.Player,int(row.S)), axis = 1)

KeyboardInterrupt:

In [ ]:
qbSeason['ANY/A'] = qbSeason.apply(lambda row : ANYA(row), axis=1)
qbSeason['TANY/A'] = qbSeason.apply(lambda row : TANYA(row), axis=1)
qbSeason['Rating'] = qbSeason.apply(lambda row : rating(row), axis = 1)

In [ ]:
qbSeason = qbSeason.set_index(['S','Player'])
qbSeason = qbSeason[qbSeason['Att'] >= 50]

In [ ]:
qbSeason.loc['25']

In [ ]:
qbSeason[['Yds','pass_TD','Int','Rating','ANY/A','TANY/A']].sort_values('TANY/A',ascending=False).head(25)

In [ ]:
qbSeason[['Yds','pass_TD','Int','Rating','ANY/A','TANY/A']].loc["25"].sort_values('ANY/A',ascending=False).head(10)

## Team Stats (Yeti)

In [14]:
passDF.groupby(['Team','Player']).sum().sort_values('pass_TD',ascending=False).loc['COL'].head(10)

                 Yds     Avg  pass_TD  Int      Rat   Cmp   Att     W
Player
McDummy, W.    32568  1622.8      192   99  11545.1  2819  4877  1042
McCormick, M.  20852   858.7      131   86   5869.9  1720  2940   525
Applehort, R.  14451   630.8       80   59   4179.5  1277  2279   420
Noble, L.       5621   312.8       33   28   2079.1   513   915   208
Pierno, N.      8587   605.7       29   92   3042.0   801  1502   420
Caliban, M.     2035   108.4       13    6    801.2   169   275    45

In [15]:
passDF.groupby(['Team','Player','S']).sum().sort_values('Yds',ascending=False).loc['COL'].head(10)

                   Yds    Avg  pass_TD  Int     Rat  Cmp  Att    W
Player        S
McCormick, M. 14  5007  182.8       31   18  1213.3  387  674  105
              11  4433  160.9       29   17  1242.0  391  635  105
McDummy, W.   25  4383  204.7       28    6  1561.0  352  577  136
Applehort, R. 10  4314  161.2       36   14  1214.2  377  657  105
              9   4142  169.0       27   10  1250.4  338  570  105
McCormick, M. 12  4019  176.5       28   17  1165.4  321  573  105
McDummy, W.   24  4002  187.3       31    9  1541.1  340  544  136
McCormick, M. 13  3964  175.5       23   14  1202.5  322  534  105
McDummy, W.   23  3792  180.5       18   11  1240.6  343  600  136
Applehort, R. 8   3565  150.1       13   14  1035.3  331  570  105

In [16]:
recDF.groupby(['Team','Player']).sum().sort_values('RecYds',ascending=False).loc['COL'].head(10)

               Rec     Avg    Lg  rec_TD     W  RecYds
Player
Bishop, J.     698  2681.9  4744      72  1180   11469
Miller, H.     538  1779.3  3459      50   746    9051
Aaron, D.      374  1213.5  2118      32   630    5242
Lim, W.        299  1093.8  1968      42   532    4817
Hendrix, K.    299  1120.9  1885      22   598    4321
Owens, A.      372   792.4  1463      20   629    3564
Forty-Two, L.  241   847.8  1461      20   442    3426
Wheat, B.      237   953.5  1401      11   590    2907
Grau, M.       394   786.9  1306      23   832    2861
Crindy, B.     292   442.4   844      14   388    2676

In [17]:
recDF.groupby(['Team','Player','S']).sum().sort_values('rec_TD',ascending=False).loc['COL'].head(10)

               Rec    Avg   Lg  rec_TD    W  RecYds
Player     S
Lim, W.    25   90  263.5  521      15  136    1443
           24   68  257.8  453      13  136    1080
Bishop, J. 15   75  259.8  482      11  105    1369
Miller, H. 10   89  237.1  541      11  105    1430
           12   76  261.9  483      11  105    1321
Crindy, B. 14  121  136.1  270      10  105    1223
North, F.  10   75  164.3  371      10  105     879
Aaron, D.  11   69  273.8  481      10  105    1075
Bishop, J. 18   55  242.5  479       9   91    1051
Miller, H. 11   85  256.5  517       9  105    1437

In [18]:
defDF.groupby(['Team','Player']).sum().sort_values('PD',ascending=False).loc['COL'].head(10)

,Tck,TFL,Sack,PD,Int,Sfty,def_TD,FF,FR,Blk P,Blk XP,Blk FG,W
Player,,,,,,,,,,,,,
"Purchase, L.",526,3,0,131,17,0,2,2,1.0,0,0,0,889
"Berry, M.",886,11,88,126,8,2,1,13,5.0,0,0,0,875
"Bly Jr., A.",502,0,0,111,24,0,4,2,0.0,0,0,0,630
"Tillman, M.",749,9,22,96,20,0,2,6,2.0,2,0,0,1039
"Lejune, L.",708,7,27,94,21,0,4,10,3.0,1,0,0,872
"Montgomery, B.",378,1,0,89,14,0,3,2,0.0,0,0,0,573
"Saint, J.",963,48,80,79,11,0,2,14,3.0,1,0,1,964
"Hornbacher, A.",254,1,0,70,14,0,2,0,1.0,0,0,0,390
"Hayden, A.",234,1,0,69,17,0,4,1,0.0,0,0,0,418
"Sinclair, Q.",481,1,3,67,23,0,2,2,1.0,0,0,0,654

In [19]:
defDF.groupby(['Team','Player','S']).sum().sort_values('Int',ascending=False).loc['COL'].head(10)

,,Tck,TFL,Sack,PD,Int,Sfty,def_TD,FF,FR,Blk P,Blk XP,Blk FG,W
Player,S,,,,,,,,,,,,,
"Bly Jr., A.",10,80,0,0,23,9,0,1,0,0.0,0,0,0,105
"Miller, H.",11,80,0,0,21,7,0,1,0,0.0,0,0,0,105
"Sinclair, Q.",17,60,1,2,10,7,0,1,0,0.0,0,0,0,91
"Hayden, A.",3,46,0,0,19,7,0,2,1,0.0,0,0,0,105
"Lejune, L.",16,58,1,0,21,6,0,1,0,0.0,0,0,0,91
"Ludvig, O.",11,53,0,0,27,6,0,1,0,0.0,0,0,0,104
"Sinclair, Q.",18,51,0,0,20,6,0,1,0,0.0,0,0,0,91
"Saint, J.",5,77,6,5,16,5,0,1,0,1.0,0,0,1,105
"Oakes, B.",13,85,0,4,5,5,0,1,1,1.0,0,0,0,105
"Parker, P.",18,61,1,0,9,5,0,1,0,0.0,0,0,0,91

In [20]:
specDF.groupby(['Team','Player']).sum().sort_values('PRYds',ascending=False).loc['COL'].head(10)

               KR  KRYds  PRYds  KRLng  PRLng  KR_TD  PR_TD   PR    W
Player
Bly Jr., A.   199   4886   1237   2374    904      3      1  168  627
Owens, A.     178   4494   1208   2411    838      1      1  127  612
Tweed, B.     132   3129    665   1602    482      2      1   61  344
Lejune, L.     68   1822    512    908    349      3      0   72  260
Williams, D.   49   1333    481    798    310      0      0   49  181
McMahon, J.    57   1237    465    679    355      1      0   51  158
Miller, H.    261   7071    406   3621    382      4      1   33  713
Hayden, A.    127   2900    404   1414    271      1      1   34  347
Bishop, J.    227   5650    304   2703    230      3      0   35  550
Law, D.        37    606    263    311    147      0      0   47  110

In [21]:
specDF.groupby(['Team','Player','S']).sum().sort_values('KR_TD',ascending=False).loc['COL'].head(10)

                 KR  KRYds  PRYds  KRLng  PRLng  KR_TD  PR_TD  PR    W
Player       S
Miller, H.   10  28    858      0    595      0      2      0   0  105
Boggs, B.    5   39   1070     78    597     48      2      0  10   99
Lejune, L.   17  35    897    187    497    143      2      0  21   91
Bly Jr., A.  5   37    843    148    508    110      2      0  19  103
Tweed, B.    6   46   1206      0    622      0      1      0   0  105
             3   42    926    323    445    158      1      0  36  105
Purchase, L. 24  24    784      0    492      0      1      0   0   97
             23  34   1170      0    720      0      1      0   0  136
Hendrix, K.  4    2    124      0    124      0      1      0   0    8
Hayden, A.   2   20    518    383    373    255      1      1  32   95

In [22]:
kickDF['FGM'] = kickDF['FG < 20M'] + kickDF['20-29M'] + kickDF['30-39M'] + kickDF['40-49M'] + kickDF['50+M']
kickDF['FGA'] = kickDF['FG < 20A'] + kickDF['20-29A'] + kickDF['30-39A'] + kickDF['40-49A'] + kickDF['50+A']
kickDF.groupby(['Team','Player']).sum().sort_values('XPM',ascending=False).loc['COL'].head(10)

,XPM,XPA,FG < 20M,FG < 20A,20-29M,20-29A,30-39M,30-39A,40-49M,40-49A,50+M,50+A,W,FGM,FGA
Player,,,,,,,,,,,,,,,
"Banana, S.",220,226,13,13,39,39,52,53,42,46,5,15,627,151,166
"McCormick, M.",134,140,6,6,24,24,31,32,38,42,7,10,513,106,114
"Leg, P.",98,104,6,6,17,17,19,21,23,29,3,4,304,68,77
"Kicksit, B.",86,95,3,3,19,21,20,22,23,30,4,8,375,69,84
"Corbett, K.",84,89,2,2,15,18,16,19,10,15,0,3,210,43,57
"Harris Jr, S.",60,66,3,3,13,15,7,8,15,19,1,5,182,39,50
"Jackson, J.",33,34,1,1,7,7,9,10,4,4,1,2,88,22,24
"Ramero, E.",27,30,1,1,6,6,8,9,2,2,0,0,105,17,18
"Jones II, J.",23,24,2,2,6,6,6,8,5,7,0,1,91,19,24
"Anderson, A.",22,24,0,0,1,1,7,9,6,10,0,0,91,14,20

In [23]:
kickDF.groupby(['Team','Player','S']).sum().sort_values('FGM',ascending=False).loc['COL'].head(25)

                  XPM  XPA  FG < 20M  FG < 20A  20-29M  20-29A  30-39M  \
Player        S
Banana, S.    25   45   48         2         2       7       7      16
              23   36   37         3         3       9       9       9
McCormick, M. 8    22   22         0         0       8       8       8
Corbett, K.   14   35   37         1         1       9      10      12
Banana, S.    24   51   52         3         3       7       7       8
McCormick, M. 10   44   47         3         3       5       5       9
Leg, P.       11   45   49         2         2       9       9       6
Banana, S.    22   30   30         3         3       6       6       9
Harris Jr, S. 18   26   28         2         2       7       7       3
Jackson, J.   20   33   34         1         1       7       7       9
Leg, P.       12   38   38         3         3       3       3       7
Banana, S.    21   36   37         2         2       6       6       7
Leg, P.       5    15   17         1         1       5       5       6
McCormick, M. 7    10   10         0         0       5       5       4
Kicksit, B.   1    24   26         0         0       4       4       5
Jones II, J.  17   23   24         2         2       6       6       6
McCormick, M. 9    37   39         2         2       4       4       7
Kicksit, B.   2    28   31         3         3       6       7       6
Ramero, E.    15   27   30         1         1       6       6       8
Corbett, K.   13   49   52         1         1       6       8       4
Harris Jr, S. 19   34   38         1         1       6       8       4
Kicksit, B.   4    17   18         0         0       6       6       5
              3    17   20         0         0       3       4       4
McCormick, M. 6    21   22         1         1       2       2       3
Anderson, A.  16   22   24         0         0       1       1       7

                  30-39A  40-49M  40-49A  50+M  50+A    W  FGM  FGA
Player        S
Banana, S.    25      16       7       7     1     4  136   33   36
              23       9      10      11     1     1  136   32   33
McCormick, M. 8        8       9      10     3     4  105   28   30
Corbett, K.   14      13       5       8     0     2  105   27   34
Banana, S.    24       8       7       8     1     4  136   26   30
McCormick, M. 10       9       8       9     0     0  105   25   26
Leg, P.       11       6       8      11     0     0  105   25   28
Banana, S.    22       9       5       7     2     3   83   25   28
Harris Jr, S. 18       3      11      13     0     2   91   23   27
Jackson, J.   20      10       4       4     1     2   88   22   24
Leg, P.       12       8       8       9     1     2  105   22   25
Banana, S.    21       8       6       6     0     2   91   21   24
Leg, P.       5        7       7       9     2     2   94   21   24
McCormick, M. 7        4      12      12     0     0   93   21   21
Kicksit, B.   1        5      10      12     1     2   92   20   23
Jones II, J.  17       8       5       7     0     1   91   19   24
McCormick, M. 9        7       4       4     1     1  105   18   18
Kicksit, B.   2        7       2       3     1     2  103   18   22
Ramero, E.    15       9       2       2     0     0  105   17   18
Corbett, K.   13       6       5       7     0     1  105   16   23
Harris Jr, S. 19       5       4       6     1     3   91   16   23
Kicksit, B.   4        5       3       6     2     3   94   16   20
              3        5       8       9     0     1   86   15   19
McCormick, M. 6        4       5       7     3     5  105   14   19
Anderson, A.  16       9       6      10     0     0   91   14   20

In [24]:
puntDF.groupby(['Team','Player']).sum().sort_values('Yds',ascending=False).loc['COL'].head(10)

               Punts    Yds     Avg   Lng  Inside 20    W
Player
Banana, S.       518  24164  3864.7  5040         82  635
McCormick, M.    481  22892  3158.8  4143         68  515
Kicksit, B.      331  15092  1918.9  2599         58  313
Leg, P.          289  13146  2075.2  2675         51  324
Harris Jr, S.    167   7241  1131.4  1490         24  182
Corbett, K.      141   6110  1206.9  1478         17  210
Darkapple, J.    111   5016   631.4   809         16  105
Jones II, J.      88   3966   586.0   766         11   91
Anderson, A.      82   3664   576.7   716          9   91
Ramero, E.        84   3647   600.9   755         10  105

In [25]:
puntDF.groupby(['Team','Player','S']).sum().sort_values('Yds',ascending=False).loc['COL'].head(10)

                  Punts   Yds    Avg   Lng  Inside 20    W
Player        S
McCormick, M. 7     117  5400  647.0   867         19  105
Kicksit, B.   2     119  5376  630.4   856         19  103
              4     109  5034  651.1   882         16  105
Darkapple, J. 1     111  5016  631.4   809         16  105
Banana, S.    23    109  5016  730.2   978         17  136
McCormick, M. 10     97  4878  705.4   909         14  105
Kicksit, B.   3     103  4682  637.4   861         23  105
Leg, P.       5     104  4623  627.1   806         20  105
Banana, S.    24     93  4608  792.4  1025         19  136
McCormick, M. 8      92  4534  688.2   892         12  105

## All Purpose

In [26]:
allpurpose = pd.concat([rushDF,recDF,specDF],join='outer').fillna(0)

In [27]:
allpurpose['AllYds'] = allpurpose['RushYds'] + allpurpose['RecYds'] + allpurpose['KRYds'] + allpurpose['PRYds']
allpurpose['rbYds'] = allpurpose['RushYds'] + allpurpose['RecYds']

In [28]:
allpurpose['Player'] = allpurpose['Player'].str.replace('Frost, D.','Chan, R.')
allpurpose[['Player','Team','S','AllYds','RushYds','RecYds','KRYds','PRYds']].groupby(['Player']).sum().sort_values('AllYds',ascending=False).head(25)

                  AllYds  RushYds   RecYds   KRYds   PRYds
Player
Mackworthy, R.   24481.0  12208.0   2956.0  7747.0  1570.0
Owens, A.        23643.0   8419.0   5847.0  7743.0  1634.0
Westfield, B.    22178.0      0.0  13457.0  5646.0  3075.0
Weston, S.       21670.0      0.0  10823.0  8227.0  2620.0
Oles, K.         20989.0      0.0  11254.0  6861.0  2874.0
Gump, F.         20871.0  10331.0   3520.0  5369.0  1651.0
Willie, T.       20708.0      0.0  14421.0  6287.0     0.0
Fyodorovich, V.  19639.0      0.0  10002.0  8351.0  1286.0
Brown, M.        19318.0  12587.0   3056.0  3183.0   492.0
Garden, J.       19317.0      0.0  11643.0  5795.0  1879.0
Valentine, V.    18789.0      0.0  10943.0  6226.0  1620.0
LeClair, A.      18644.0      0.0  11718.0  6716.0   210.0
Bishop, J.       17423.0      0.0  11469.0  5650.0   304.0
Hanyadi, M.      16855.0   8253.0   3156.0  4519.0   927.0
Miller, H.       16841.0      0.0   9365.0  7070.0   406.0
Taylor, O.       16720.0  11597.0   3278.0  1845.0     0.0
Donut, S.        16158.0      0.0   9652.0  6506.0     0.0
Evans, D.        16048.0      0.0   9685.0  5035.0  1328.0
Jackson, M.      15998.0      0.0  10307.0  5691.0     0.0
Maddox, E.       15624.0      0.0  10728.0  4021.0   875.0
Torenson, S.     15288.0  12474.0   1789.0  1025.0     0.0
Smallwood, D.    14965.0   7823.0   5825.0  1317.0     0.0
Mendonca, M.     14835.0   8210.0   3908.0  2717.0     0.0
Lavelle, D.      14423.0      0.0   1878.0  9093.0  3452.0
Flash, X.        13670.0      0.0   7793.0  5463.0   414.0

In [29]:
allpurpose[['Player','Team','S','AllYds','RushYds','RecYds','KRYds','PRYds']].groupby(['S','Team','Player']).sum().sort_values('AllYds',ascending=False).head(10)

                          AllYds  RushYds  RecYds   KRYds  PRYds
S  Team Player
25 NY   Owens, A.         3597.0   1542.0   506.0  1301.0  248.0
23 YKW  Hanyadi, M.       3463.0   1317.0   539.0  1170.0  437.0
7  AZ   Mackworthy, R.    3413.0   1002.0   890.0  1247.0  274.0
25 SAR  Chan, R.          3385.0    611.0   866.0  1322.0  586.0
   HON  Kane-Maika'i, K.  3331.0    702.0   795.0  1389.0  445.0
5  LV   Evans, D.         3082.0      0.0  1504.0  1264.0  314.0
15 NO   Swift, T.         3050.0   1167.0   639.0  1244.0    0.0
3  OCO  Westfield, B.     3023.0      0.0  1625.0   980.0  418.0
7  OCO  Westfield, B.     2983.0      0.0  1620.0  1050.0  313.0
8  AZ   Mackworthy, R.    2976.0   1461.0   317.0   894.0  304.0

In [30]:
allpurpose[allpurpose['S'] == "26"][['Player','Team','S','AllYds','RushYds','RecYds','KRYds','PRYds']].groupby('Player').sum().sort_values('AllYds',ascending=False).head(15)

                  AllYds  RushYds  RecYds  KRYds  PRYds
Player
Kane-Maika'i, K.  1787.0    406.0   590.0  699.0   92.0
Jeeta, E.         1662.0      0.0   723.0  716.0  223.0
Chan, R.          1635.0    471.0   364.0  609.0  191.0
Owens, A.         1633.0    533.0   414.0  508.0  178.0
Panda, F.         1615.0      0.0   587.0  844.0  184.0
Petrongolo, J.    1603.0    598.0   427.0  578.0    0.0
Watts, Z.         1551.0    671.0   477.0  403.0    0.0
Williams, D.      1463.0    566.0   160.0  560.0  177.0
Skyline, A.       1419.0    813.0   151.0  376.0   79.0
Hanyadi, M.       1408.0    662.0   178.0  568.0    0.0
Kingston, J.      1271.0      0.0   788.0  483.0    0.0
Yoda, B.          1251.0    579.0   149.0  523.0    0.0
Chambers, K.      1085.0      0.0   481.0  604.0    0.0
Thomas-Fox, D.    1074.0      0.0   500.0  440.0  134.0
Donut, S.          980.0      0.0   517.0  463.0    0.0

In [31]:
flex = allpurpose[['Player','Team','S','rbYds','RushYds','RecYds']].groupby(['Player']).sum()

In [32]:
flex[(flex.RushYds > 100) & (flex.RecYds > 100)].sort_values('rbYds',ascending=False).head(20)

                  rbYds  RushYds  RecYds
Player
Brown, M.       15643.0  12587.0  3056.0
Mackworthy, R.  15164.0  12208.0  2956.0
Taylor, O.      14875.0  11597.0  3278.0
Owens, A.       14266.0   8419.0  5847.0
Torenson, S.    14263.0  12474.0  1789.0
Gump, F.        13851.0  10331.0  3520.0
Smallwood, D.   13648.0   7823.0  5825.0
Mendonca, M.    12118.0   8210.0  3908.0
Hanyadi, M.     11409.0   8253.0  3156.0
Adams, R.       11191.0   4980.0  6211.0
Shady, S.       11055.0   9051.0  2004.0
Canton, J.      10635.0   6753.0  3882.0
Toriki, M.      10485.0   8516.0  1969.0
Reed, A.        10362.0   8835.0  1527.0
Yates, J.        9871.0   3640.0  6231.0
Kennedy, E.      9480.0   1573.0  7907.0
Bush, C.         8859.0    723.0  8136.0
Savea, A.        8700.0   6111.0  2589.0
Nuck, B.         7719.0   6202.0  1517.0
Tweed, B.        7573.0   6151.0  1422.0